<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/normalize-8.0.1.min.css" />
    <link rel="stylesheet" href="/main.css" />
    <title>Case Study</title>
    <link rel="icon" href="/favicon.ico" />
    <style>
      .companies {
        display: flex;
      }
      .company {
        flex: 1;
        width: 50%;
      }
      .wide {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="nav">
        <div class="nav-left">
          <a href="/" class="nav-title">
            <span class="nav-extra">Case Study</span>
          </a>
          <a href="#">Models</a>
        </div>
        <div class="nav-right">
          <a href="#">Account</a>
        </div>
      </div>
      <div class="content">
